@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h2>@Html.ActionLink("Login", "Login", "User")</h2>
    <h2>@Html.ActionLink("Register", "Register", "User")</h2>
    
</div>
